@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "barselona-thin";
  src: url("../public/fonts/FCBARCELONA-Thin.ttf");
}

@font-face {
  font-family: "barselona-regular";
  src: url("../public/fonts/BARCELONA-Regular.ttf");
}


@font-face {
  font-family: "barselona";
  src: url("../public/fonts/barselona.ttf");
}

*{
  font-family:'barselona-regular';
}
html,
body{
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  overflow-x:hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height:1.6;
  font-size:18px;
}
a {
  color:#0070f3;
  text-decoration:none;
}
a:hover{
  font-weight: 900;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

